* {
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  padding: 4.5rem 0;
  background-color: #ffecd3;
  font-family: Karla;
  font-size: 28px;
}

.contact__app {
  width: 380px;
  height: 450px;
  margin: 0 auto;
  padding: 2rem 1rem;
  position: relative;
  border: 3px solid #fff;
  box-shadow: 3px 3px 0px #ffe1ba;
  background-color: #ffffff;
  border-radius: 10px;
  overflow-y: scroll;
}

.contact__app::-webkit-scrollbar {
  width: 2px;
}

.contact__app::-webkit-scrollbar-track {
  background-color: #fff4f4;
}

.contact__app::-webkit-scrollbar-thumb {
  background-color: #f1e0d2;
  border-radius: 50px;
}

.label {
  text-align: center;
  margin-bottom: 2rem;
  padding: 6px 30px;
  box-shadow: 3px 3px 0px #ffe1ba;
  border-radius: 50px;
  color: #8f747f;
  background-color: #fff;
  font-weight: 900;
}

.create__contact {
  float: right;
  cursor: pointer;
  background-color: #ffffff;
  color: #8f747f;
  border-radius: 50%;
  margin-top: 1rem;
  padding: 0.5rem 1.1rem;
  box-shadow: 3px 3px 0px #ffe1ba;
}

.row {
  border-radius: 5px;
  border-bottom: 2px solid #f8eef2;
  padding: 10px 5px;
  margin: 10px 5px;
}

.row__phone {
  color: #a7989e;
  font-size: 14px;
}

.row__name {
  color: #614751;
  font-size: 20px;
}

.create__form {
  color: #614751;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: slide 900ms ease 200ms forwards;
  opacity: 0;
  display: none;
  z-index: 9999;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-90px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

label {
  font-size: 18px;
}

input {
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid #614751;
  background-color: #ffffff;
  box-shadow: 3px 3px 0px #ffe1ba;
  padding: 6px 18px;
}

.submit {
  color: #614751;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid #614751;
  background-color: #ffffff;
  box-shadow: 3px 3px 0px #ffe1ba;
  padding: 6px 18px;
  margin: 2rem 0;
  cursor: pointer;
}

.cancel {
  border-radius: 10px;
  font-size: 16px;
  background-color: #ffffff;
  box-shadow: 3px 3px 0px #ffe1ba;
  padding: 8px 18px;
  margin: 2rem 0;
  cursor: pointer;
}
