* {
  margin: 0;
  padding: 0;
  font-family: Karla;
  box-sizing: border-box;
}

body {
  padding: 3rem;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

a {
  font-size: 20px;
  width: 50px;
}

.cursor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid blueviolet;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 300ms linear;
  opacity: 0;
  z-index: 999999;
}

body:hover .cursor {
  opacity: 1;
}

.zoomin {
  width: 75px;
  height: 75px;
}
